.brand {
  display: flex;
  justify-content: center;     /* Centra horizontalmente */
  align-items: center;         /* Centra verticalmente */
  gap: 0.5rem;                 /* Espacio entre logo y texto */
  margin-top: 2rem;            /* Separación desde arriba */
}

.logo {
  height: 8em;
  width: auto;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  color: #007bff;
  font-size: 4em;
  
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.display-content {
  display: flex;
  justify-content: center;
}
.footer {
text-align: center;
}
